@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
    font-family: "Livvic", sans-serif;
    /* border: none; */
}

.errorPage {
    background-image: url('/Images/error-page1.jpg');
    width: 50%;
    height: 100vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}